<table class="table table-striped table-hover table-sm table-emails">
    <tbody>
    <% @mails.each do |mail| %>
        <tr class= "email <%= 'font-weight-bold' if mail.status == 'received' && mail.from != current_user.id %>" data-href="/mails/<%= mail.mail_id %>" >
            <td>
                <span> <%= User.find_by_id(mail.from).name%> <%= 'to ' + User.find_by_id(mail.to).name if current_user.id == mail.from %> </span>
            </td>
            <td>
            <span class="d-inline-block text-truncate" style="max-width: 900px;">
                <span> <%= Mail.find_by_id(mail.mail_id).subject %> </span> 
                - 
                <span class="text-secondary"><%= Mail.find_by_id(mail.mail_id).content %></span>
            </span
                
            </td>
            <td class="text-right pr-3">
                <span><%= mail.created_at.to_formatted_s(:short)  %></span>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>